/*ubuntu terminal*/
@font-face {
	font-family: UbuntuTerminalBold;
	src: url(/fonts/UbuntuTerminal-Bold.ttf);
}

@font-face {
	font-family: UbuntuTerminal;
	src: url(/fonts/UbuntuTerminal-Regular.ttf);
}

.terminalVisible
{
	visibility: visible;
	opacity: 1;
	transition: opacity 2s linear;
}

.terminalHidden
{
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 2s, opacity 2s linear;
}

.nopadding {
	padding: 0;
	margin: 0;
}

.nomargin {
	margin: 0;
}

.row-no-padding > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.bottom-border {
	border-bottom: 2px solid #737373;
}

.top-border {
	border-bottom: 2px solid #737373;
}

.top-border-faint {
	border-bottom: 2px solid #e6e6e6;
}

.titilliumText25L-font {
	font-family: TitilliumText25L;
}

#navigator {
	position: absolute;
	display: none;
	z-index: 9999;
	pointer-events: none;
}
#navigator:before, #navigator:after, #navigator>:first-child:before, #navigator>:first-child:after {
    position:absolute;
    width:40px;
		height: 40px;
    border-color:#0084FF;
    border-style:solid;
    content: ' ';
		border-radius: 5px;
		box-sizing: border-box;
		opacity: 0.75;
}
#navigator:before {top:0; left:0; border-width: 5px 0 0 5px; border-top-left-radius: 15px;}
#navigator:after {top:0; right:0; border-width: 5px 5px 0 0; border-radius: 5px; border-top-right-radius: 15px;}
#navigator>:first-child:before {bottom:0; right:0; border-width: 0 5px 5px 0; border-bottom-right-radius: 15px;}
#navigator>:first-child:after {bottom:0; left:0; border-width: 0 0 5px 5px; border-bottom-left-radius: 15px;}

.custom-palets {
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
	pointer-events: auto;
}
.custom-palets:hover {
	background-color: #f2f2f2;
}

.custom-small-top-margin {
	margin-top: 10px;
}

.custom-small-height{
	height: 10px;
}

.custom-top-bar {
	background-color: #ffffff;
	z-index:9999;
	position: fixed;
	top:0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.custom-footer {
	position: fixed;
	bottom: 20px;
	z-index:9999;
}

.custom-btn {
	cursor: pointer;
}

.custom-clickable-icon {
	cursor: pointer;
	color: #bfbfbf;
}
.custom-clickable-icon:hover {
	color: #ffffff;
}

.custom-page {
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	 background-color:#e6e6e6;
}

.custom-credits-palet {
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.custom-link-no-makeup {
	text-decoration: none;
	cursor: pointer;
}
.custom-link-no-makeup:hover {
	text-decoration: none;
	cursor: pointer;
}

.custom-link-no-makeup-black {
	text-decoration: none;
	cursor: pointer;
	color: #000000;
}
.custom-link-no-makeup-black:hover {
	text-decoration: none;
	cursor: pointer;
	color: #000000;
}

.blockquote {
  background: #f9f9f9;
  border-left: 10px solid #cccccc;
  margin: 0 10px;
  padding: 0.5em 20px;
}

.blockquote-reverse {
  background: #f9f9f9;
  text-align: right;
  border-left: none;
  border-right: 10px solid #cccccc;
  margin: 0 10px;
  padding: 0.5em 20px;
}

blockquote p {
  display: inline;
}

.custom-rounded-right {
	border-radius: 0 20% 20% 0;
}

.custom-rounded-left {
	border-radius: 10% 0 0 10%;
}

.custom-project-palet {
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
	opacity: 1;
}
.custom-project-palet:hover {
	background-color: #f2f2f2;
	opacity: 0.8;
}

.custom-about-palet {
	border-top: 15px solid #737373;
}

.custom-edu-palet {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.custom-edu-palet:hover {
	box-shadow: none;
	cursor: pointer;
}

.custom-score-tag {
	background-color: #404040;
	color: #f2f2f2;
	border-radius: 50px;
}

.custom-inner-text-shadow {
	background-color: #565656;
  	color: transparent;
  	text-shadow: 0px 2px 3px rgba(255,255,255,0.5);
  	-webkit-background-clip: text;
    -moz-background-clip: text;
	background-clip: text;
}

.custom-bold-black {
	color: #000000;
}

.custom-achievement:hover {
	cursor: pointer;
}

#pageCertificates {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999999;
}

.custom-pdf-viewer {
	height: calc(100% - 3rem);
}

.slanted-div {
	left: -10px;
	height: 100px;
	width: 110%;
	-webkit-transform: rotate(-4deg);
	transform : rotate(-4deg);
	margin-left: 0;
	top: -160px;
	position: relative;
	z-index: 1;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.slanted-div2 {
	left: -10px;
	height: 100px;
	width: 110%;
	-webkit-transform: rotate(3deg);
	transform : rotate(3deg);
	margin-left: 0;
	top: -40px;
	position: relative;
	z-index: 3;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.custom-rounded {
	border-radius: 1000px;
}

.experience-logo {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.experience-description {
	color: #f2f2f2;
	position: relative;
	border-left: 2px solid #737373;
}

.experience-span {
	position: absolute;
	bottom: 0;
	color: #adb3b8;
}

@keyframes underline {
	from {width: 0%; left: 50%;}
	to {width: 100%; left: 0%;}
}

.hover-underline {
	cursor: pointer;
	position: relative;
}

.hover-underline-thoughtworks:hover ::after {
	content:'';
	position: absolute;
	bottom: -50%;
	border-top: 2px solid #33cccc;
	animation: underline 0.2s ease-out both;
}

.hover-underline-thoughtworks-job:hover ::after {
	content:'';
	position: absolute;
	bottom: -50%;
	border-top: 2px solid #66b561;
	animation: underline 0.2s ease-out both;
}

.hover-underline-iitb:hover ::after {
	content:'';
	position: absolute;
	bottom: -50%;
	border-top: 2px solid #f5a623;
	animation: underline 0.2s ease-out both;
}
